@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 43, 42, 36;
  --foreground: 44, 57, 48;

  --card: 220, 215, 201;
  --card-foreground: 44, 57, 48;

  --popover: 220, 215, 201;
  --popover-foreground: 44, 57, 48;

  --primary: 44, 57, 48;
  --primary-foreground: 220, 215, 201;

  --secondary: 162, 123, 92;
  --secondary-foreground: 220, 215, 201;

  --muted: 63, 79, 68;
  --muted-foreground: 220, 215, 201;

  --accent: 162, 123, 92;
  --accent-foreground: 220, 215, 201;

  --destructive: 255, 99, 71;
  --destructive-foreground: 220, 215, 201;

  --border: 162, 123, 92;
  --input: 162, 123, 92;
  --ring: 162, 123, 92;

  --radius: 0.5rem;
}

.dark {
  --background: 44, 57, 48;
  --foreground: 220, 215, 201;

  --card: 63, 79, 68;
  --card-foreground: 220, 215, 201;

  --popover: 63, 79, 68;
  --popover-foreground: 220, 215, 201;

  --primary: 220, 215, 201;
  --primary-foreground: 44, 57, 48;

  --secondary: 162, 123, 92;
  --secondary-foreground: 220, 215, 201;

  --muted: 63, 79, 68;
  --muted-foreground: 220, 215, 201;

  --accent: 162, 123, 92;
  --accent-foreground: 220, 215, 201;

  --destructive: 255, 99, 71;
  --destructive-foreground: 220, 215, 201;

  --border: 162, 123, 92;
  --input: 162, 123, 92;
  --ring: 162, 123, 92;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

